/* loading html*/ 

html {
   background-color: black;
}

* { padding: 0; margin: 0; box-sizing: border-box; }
html, body { height: 100%; font-family: uniform; }
.wrapper {
   position: relative;
   width: 100%;
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 15px;
}

body {
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
 
   animation: fadeIn 1s;
   background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) ), url('IMG_1287.PNG'); 
   color: white;
}

#background-video {
   top:0;
   left:0;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   
   max-width: 100%
   height: 100%;
   width: 100%;
   position: fixed;
   transition: all 0.6s ease-in-out;
}

#pomodoro {
   position: absolute;
 top: 8px;
   right: 15px; 
   width: 100%;
   max-width: 350px;
   margin: 0 auto;
   padding: 55px 25px 25px 25px;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.29);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(7.7px);
   -webkit-backdrop-filter: blur(7.7px);
   border: 3px solid rgba(255, 255, 255, 0.64);
}

#pomodoro-overlay {
   background: #fff;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 20px;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease-in-out;
}
body.page-loaded #pomodoro-overlay {
   opacity: 0;
   visibility: hidden;
}
#pomodoro-overlay img {
      width: 150px;
      height: 150px;
}

.btn-icon {
      border-radius: 20px;
      position: absolute;
      right: 0;
      width: 50px;
      display: flex;
      font-size: 24px;
      justify-content: center;
      color: #ffffff;
      padding-top: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
}
#feh-toggle-settings {
      top: 20px;
      right: 20px;
      height: 50px;
}

#timer-progress {
   display: flex;
   font-family:gaegu;
   font-weight:bold;
   justify-content: center;
    margin-bottom: 40px;
}
.circle-timer {
    width: 270px;
   height: 270px;
}		
.circle-background {
   stroke: #ffffff;
   stroke-width: 7;
   fill: none;
}
.circle-progress {
   stroke: #fd5252;
   stroke-width: 7.3;
   stroke-dasharray: 283;
   stroke-linecap: round;
   fill: none;
   transform-origin: 50% 50%;
   transform: rotate(-90deg);
}

#feh-timer-time {
   fill: #ffffff;
}

#feh-timer-pause,
#feh-timer-rest {
   opacity: 0;
   transition: all 0.3s ease-in-out;
   fill: #ffffffd1;
}

#feh-timer-sessions {
   border-radius: 50px;
   background: #fff;
   display: flex;
   color: #5c5c5cb8;
   align-items: center;
   transition: all 0.3s ease-in-out;
}

#feh-timer-sessions p {
   padding: 12px;
}

p#feh-completed-label {
   font-family:gaegu;
   font-size:20px;
   font-weight: bold;
   width: 80%;
   text-align: center;
}

p#feh-completed-sessions {
   font-weight: bold;
   font-family:gaegu;
   font-weight: bold;
   color: rgb(0, 0, 0);
   font-size: 20px;
   
}

#feh-timer-functions {
   height: 145px;
   position: relative;
}

#feh-timer-buttons { 
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s ease-in-out;
}
#feh-timer-buttons button {
      background-color: #fd5252;
      position: absolute;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      display: block;
      font-size: 22px;
      color: #fff;
}

#feh-timer-settings {
   transition: all 0.3s ease-in-out;
    opacity: 0;
   visibility: hidden;
}
   #feh-close-settings {
      top: -45px;
      height: 80px;
      background: #50505e;
      color: #fee0d5;
   }
   #feh-close-settings:hover { color: #fff; }

   #feh-timer-form {
      border-radius: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background: #50505e;
      z-index: 1;
   }
      .feh-timer-line {
         display: flex;
         font-family:gaegu;
         font-weight: bold;
      }
      .feh-timer-line:last-child {
         margin-top: 20px;
      }
         .feh-timer-line * {
            font-size: 18px;
         }
         .feh-timer-line label {
            width: 50%;
            color: #ffffff;
            padding: 10px 0px 10px 0px;
            font-size:24px;
         }
         .feh-timer-line input {
            background: rgb(0, 0, 0);
            color: #ffffff;
            width: 50%;
            border: 0px none;
            margin-left: -2px;
            border-radius: 10px;
            text-align: center;
            font-family:gaegu;
            font-weight: bold;
            font-size:24px;
         }
         
         #feh-timer-form input::-webkit-outer-spin-button,
         #feh-timer-form input::-webkit-inner-spin-button 
         { -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none; }
         
         #feh-timer-form input[type=number] 
            {  
               -webkit-appearance: textfield;
               -moz-appearance: textfield;
               appearance: textfield;
            }

            body.timer-running #start-btn {
               opacity: 0;
               visibility: hidden;
            }
            body.timer-paused #start-btn {
               opacity: 1;
               visibility: visible;
            }
            body.settings-active #feh-timer-settings {
               opacity: 1;
               visibility: visible;
            }
            body.settings-active #feh-timer-sessions {
               opacity: 0;
               visibility: hidden;
            }
            body.settings-active #feh-timer-buttons {
               opacity: 0;
               visibility: hidden;
            }  
            body.rest-mode #background-video {
               filter: blur(5px) brightness(0.5);
            }
            body.rest-mode .circle-progress { 
               stroke: #ff0000a3;
            } 
body.timer-running .circle-progress {
   transition: all 1s linear;
}

#homePage {
   width:290px;
   font-family:gaegu;
   position: absolute;
    top: 15px; 
   left: 15px;  
   text-align:center;
   font-weight: bold;
   font-size: 36px;  
   border-radius: 0.75em;
   text-align: center;
   transition-duration: 0.4s;
   border: 5px solid rgba(255, 255, 255, 0.64);
   padding: 10px 100px;
   border-radius: 20px;
   background-color:#50505e;
   text-decoration: none;
   color:rgba(255, 255, 255, 0.806);

   
}
 #homePage:hover {
   border-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   background: #222227;
}

#feh-toDo {
   position: absolute;
   top: 605px;
   right: 15px; 
   width: 100%;
   height: 360px;
   max-width: 350px;
   margin: 0 auto;
   padding: 3px 25px 55px 25px;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.29);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(7.7px);
   -webkit-backdrop-filter: blur(7.7px);
   border: 3px solid rgba(255, 255, 255, 0.64);
}

#feh-toDo-overlay {
   background: #fff;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 20px;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease-in-out;
}
body.page-loaded #feh-toDo-overlay {
   opacity: 0;
   visibility: hidden;
}
#feh-toDo-overlay img {
      width: 150px;
      height: 150px;
}

ul {
   list-style-type: none; /* get rid of bullet points on side of list items */
 }

 h1 {
   display:block;
   visibility: visible;
   z-index: 1;
   color: #fff;
   font-size: 38px;
   font-family:gaegu;
  font-weight: bold;
  text-align:center;

 }
 
 /* todo-form */
 
 .todo-form {
   margin: 0px 0px;
 }
 
 .todo-input {
   background-color:#50505e;
            color: #ffffff;
            width: 77%;
            padding:5px 0px;
            border: 0px none;
            margin: 2px;
            border-radius: 10px;
            text-align: center;
            font-family:gaegu;
            font-weight: bold;
            font-size:24px;
            border: 3px solid rgba(255, 255, 255, 0.64);
            
 }
 
 .add-button {
   background: rgb(0, 0, 0);
            color: #ffffff;
            width: 20%;
            border: 0px none;
            
            border-radius: 10px;
            text-align: center;
            font-family:gaegu;
            font-weight: bold;
            font-size:23px;
            padding: 7px;
            outline: none;
            
 }
 .add-button:hover{
   background-color:rgb(36, 36, 36);
 }
 
 /* todo-form style ends */
 
 /* todo-items */
 .todo-items {
   margin-left:2px;
   min-width: 200px;
   max-width: 297px;
   border: 3px solid rgba(255, 255, 255, 0.64);
   border-radius:10px;
 }
 
 /* each li with class="item" */
 .item {
   background-color: #25222f;
   padding: 10px;
   font-size: 35px;
   color:rgb(255, 255, 255);
   font-family:gaegu;
            font-weight: bold;
            font-size:23px;
 }
 
 .item:first-child {
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
 }
 
 .item:last-child {
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
 }
 
 /* item style end */
 
 .checkmark {
   margin-right: 10px;
   position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
 }

.checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 .delete-button {
   float: right;
   background-color: #96290a;
   border: none;
   outline: none;
   border-radius: 7px;
   padding: 2px 5px;
   margin-left: 10px;
   font-size: 1.1rem;
   font-weight: 550;
 }

 .delete-button:hover {
   background-color: #d0370c !important;
   transition-duration: 0.1s;
 }
 
 /* applied when the todo item is checked */
 .checked { 
   text-decoration: line-through;
   text-decoration-thickness: 1px;
   text-decoration-color: rgba(255, 255, 255, 0.64);
   
 }

 /* todo-items style ends */

 #rainHeader {
   z-index:1;
   opacity:1;
   left:15px;
   top:100px;
   width:290px;
   font-family:gaegu;
   position: absolute;  
   text-align:center;
   font-weight: bold;
   font-size: 36px;  
   border-radius: 0.75em;
   text-align: center;
   border: 5px solid rgba(255, 255, 255, 0.64);
   padding: 5px 95px;
   border-radius: 20px;
   text-decoration: none;
   color:rgba(255, 255, 255, 0.806);
   background-color: #3d4e3c;
   
 }

.audio-player {
   font-family:gaegu;
   font-weight: bold;
   font-size: 18px;
   opacity:0; /* switch back to 0 */
   transition-duration:0.2s;
   position:relative;
   height: 75px;
   width: 290px;
   background: #3d4e3c;
   color: white;
   overflow: hidden;
   display: grid;
   grid-template-rows: 6px auto;  
    border-radius: 0.75em;
    border: 5px solid rgba(255, 255, 255, 0.64);
    border-radius: 20px;
    z-index:2;
    left:-40.5%;
   top:-36.2%;
 }
 .audio-player:hover {
   opacity:1;
   transition-duration:0.2s;
 }

 .audio-player .timeline {
   border-radius:5px;
   background: white;
   width: 95%;
   position: relative;
   left:2.5%;
   top:10px;
   cursor: pointer;
   padding: 5px, 5px, 5px, 5px;
   box-shadow: 0 2px 10px 0 #0008;
   
 }
 .audio-player .timeline .progress {
   border: 1px solid rgba(0, 0, 0, 0.64);
   border-radius:5px;
   background: #1c2819;
   width: 0%;
   height: 100%;
   transition: 0.25s;
 }
 .audio-player .controls {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   padding: 0 20px;
 }
 .audio-player .controls > * {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .audio-player .controls .toggle-play.play {
   cursor: pointer;
   position: relative;
   left: 0;
   height: 0;
   width: 0;
   border: 7px solid #0000;
   border-left: 13px solid white;
 }
 .audio-player .controls .toggle-play.play:hover {
   transform: scale(1.1);
 }
 .audio-player .controls .toggle-play.pause {
   height: 15px;
   width: 20px;
   cursor: pointer;
   position: relative;
 }
 .audio-player .controls .toggle-play.pause:before {
   position: absolute;
   top: 0;
   left: 0px;
   background: white;
   content: "";
   height: 15px;
   width: 3px;
 }
 .audio-player .controls .toggle-play.pause:after {
   position: absolute;
   top: 0;
   right: 8px;
   background: white;
   content: "";
   height: 15px;
   width: 3px;
 }
 .audio-player .controls .toggle-play.pause:hover {
   transform: scale(1.1);
 }
 .audio-player .controls .time {
   
   font-size:24px;
   top:10px;
   text-align:center !important;
   
 }
 .audio-player .controls .time > * {
   padding: 10px;
 }
 .audio-player .controls .volume-container {
   cursor: pointer;
   position: relative;
   z-index: 2;
 }
 .audio-player .controls .volume-container .volume-button {
   height: 26px;
   display: flex;
   align-items: center;
 }
 .audio-player .controls .volume-container .volume-button .volume {
   transform: scale(0.8);
 }
 .audio-player .controls .volume-container .volume-slider {
   position: absolute;
   
   z-index: -1;
   width: 0;
   height: 15px;
   background: white;
   box-shadow: 0 0 20px #000a;
   transition: 0.25s;
   border-radius:7px;
 }
 .audio-player .controls .volume-container .volume-slider .volume-percentage {
   background: #1c2819;
   height: 100%;
   width: 75%;
   border-radius:7px;
 }
 .audio-player .controls .volume-container:hover .volume-slider {
   left: -175px;
   width: 160px;
   height:35%;
   border-radius:7px;
   border: 2px solid rgba(255, 255, 255, 0.64);
 }


 /* music header */


 #musicHeader {
   z-index:1;
   opacity:1;
   left:15px;
   top:185px;
   width:290px;
   font-family:gaegu;
   position: absolute;  
   text-align:center;
   font-weight: bold;
   font-size: 36px;  
   border-radius: 0.75em;
   text-align: center;
   border: 5px solid rgba(255, 255, 255, 0.64);
   padding: 5px 80px;
   border-radius: 20px;
   text-decoration: none;
   color:rgba(255, 255, 255, 0.806);
   background-color: #3d4e3c;
   
 }

 
.audio-player2 {
   font-family:gaegu;
   font-weight: bold;
   font-size: 18px;
   opacity:0; /* switch back to 0 */
   transition-duration:0.2s;
   position:fixed;
   height: 75px;
   width: 290px;
   background: #3d4e3c;
   color: white;
   overflow: hidden;
   display: grid;
   grid-template-rows: 6px auto;  
    border-radius: 0.75em;
    border: 5px solid rgba(255, 255, 255, 0.64);
    border-radius: 20px;
    z-index:2;
    left:15px;
   top:185px;
 }
 .audio-player2:hover {
   opacity:1;
   transition-duration:0.2s;
 }

 .audio-player2 .timeline2 {
   border-radius:5px;
   background: white;
   width: 95%;
   position: relative;
   left:2.5%;
   top:10px;
   cursor: pointer;
   padding: 5px, 5px, 5px, 5px;
   box-shadow: 0 2px 10px 0 #0008;
   
 }
 .audio-player2 .timeline2 .progress2 {
   border: 1px solid rgba(0, 0, 0, 0.64);
   border-radius:5px;
   background: #1c2819;
   width: 0%;
   height: 100%;
   transition: 0.25s;
 }
 .audio-player2 .controls2 {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   padding: 0 20px;
 }
 .audio-player2 .controls2 > * {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .audio-player2 .controls2 .toggle-play2.play2 {
   cursor: pointer;
   position: relative;
   left: 0;
   height: 0;
   width: 0;
   border: 7px solid #0000;
   border-left: 13px solid white;
 }
 .audio-player2 .controls2 .toggle-play2.play2:hover {
   transform: scale(1.1);
 }
 .audio-player2 .controls2 .toggle-play2.pause {
   height: 15px;
   width: 20px;
   cursor: pointer;
   position: relative;
 }
 .audio-player2 .controls2 .toggle-play2.pause:before {
   position: absolute;
   top: 0;
   left: 0px;
   background: white;
   content: "";
   height: 15px;
   width: 3px;
 }
 .audio-player2 .controls2 .toggle-play2.pause:after {
   position: absolute;
   top: 0;
   right: 8px;
   background: white;
   content: "";
   height: 15px;
   width: 3px;
 }
 .audio-player2 .controls2 .toggle-play2.pause:hover {
   transform: scale(1.1);
 }
 .audio-player2 .controls2 .time2 {
   
   font-size:24px;
   top:10px;
   text-align:center !important;
   
 }
 .audio-player2 .controls2 .time2 > * {
   padding: 10px;
 }
 .audio-player2 .controls2 .volume-container2 {
   cursor: pointer;
   position: relative;
   z-index: 2;
 }
 .audio-player2 .controls2 .volume-container2 .volume-button2 {
   height: 5px;
   display: flex;
   align-items: center;
 }
 .audio-player2 .controls2 .volume-container2 .volume-button2 .volume2 {
   transform: scale(0.7);
 }
 .audio-player2 .controls2 .volume-container2 .volume-slider2 {
   position: absolute;
   
   z-index: -1;
   width: 0;
   height: 15px;
   background: white;
   box-shadow: 0 0 20px #000a;
   transition: 0.25s;
   border-radius:7px;
 }
 .audio-player2 .controls2 .volume-container2 .volume-slider2 .volume-percentage2 {
   background: #1c2819;
   height: 100%;
   width: 75%;
   border-radius:7px;
 }
 .audio-player2 .controls2 .volume-container2:hover .volume-slider2 {
   left: -180px;
   width: 170px;
   height:30%;
   border-radius:7px;
   border: 2px solid rgba(255, 255, 255, 0.64);
 }

